.sidebar {
	position: absolute;
	width: 210px;
	height: 100%;	
	background: #004050;
	color: #fff;
}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar h4 {
	text-align: center;
	margin: 0;
	background: #004050;
	padding: 10px;
}
.sidebar li {
	border: 1px solid 
}
.sidebar li:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
	
}
.sidebar a {
	display: block;
	color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	text-decoration: none;
}
.contenido {
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
}
.menu-bar {
	cursor: pointer;
}
.abrir {
	transform: translateX(210px);
}