/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-abr-2019, 19:02:33
    Author     : Cristhian
*/

body{
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover; 
    width: 100%;
    height: 100%;
   
}
.img-titulo img{
    width: 100%;
    height: 100%;
}
#titulo{
    width: 100%;
}
header{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
}
/*
.img-titulo img{
    width: 100%;
    
}*/
/*
.modal-dialog{
    float: left;
}

.main-section{
    
    margin: 0 auto;
    margin-top: 35%;
    padding: 0;
}

.modal-content{
    background-color: #BDBDBD;
    opacity: .80;
    padding: 0 20px;
    box-shadow: 0px 0px 4px #848484;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 4px #000000;
    border-radius: 50%;
}

.form-group input{
    height: 50px;
    font-size: 20px;
    border: 0;
    padding-left: 15%;
    border-radius: 10px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 10%;
    font-size: 22px;
    padding-top: 10px;
}

button{
    width: 100%;
    margin: 5px 0 25px;
    font-size: 10px;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: primary;
}*/