/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/*Basic reset*/
* {margin: 0; padding: 0;}

body {
	background: #4EB889;
	font-family: Nunito, arial, verdana;
}

.img-titulo img{
    width: 100%;
    height: 100%;
}

#accordian {
	background: #004050;
	margin-top: 4%;
        margin-right: 10%;
	color: white;
        padding-right: 2px;
        padding-left: 2px;
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}

.col-md-3{
    max-width: 20%;
}

#accordian h1 {
	font-size: 20px;
	line-height: 34px;
	padding: 0 10px;
	background: linear-gradient(#003040, #002535);
}

#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	margin-bottom: 1.5rem;
	background: #003040; 
	background: linear-gradient(#003040, #002535);
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

#contenido{
    width: 70%;
    position: relative;
    background-color: rgb(210,210,210);
    padding-left: 10px;
    height: 80%;
    margin-top: 4%;
}
#barra-superior
{
    background: #004050;
    margin-left: -10px;
}
#barra-superior h4{
    margin-block: 2px;
    font-size: 1.7rem;
}
.btn-group{
    background-color: #1d64c4;
    margin-left: 70.15%;
}
#content-mision{
    float: right;
    margin-left:50px;
    margin-right: 50px;
    width: 90%;
    height: 50%;
}
#content-vision{
    float: right;
    margin-left:50px;
    margin-right: 50px;
    width: 90%;
    height: 50%;
}
.boton3 {
  color: #fafbfc !important;
  font-size: 20px;
  font-weight: 400;
  padding: 0.5em 1.2em;
  background: rgba(0,255,0,0);
  border: 2px solid;
  border-color: #fafbfc;
  transition: all 1s ease;
  position: relative;
}
.boton3:hover {
  background: #fafbfc;
  color: #000706 !important;
}