/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/05/2019, 14:52:41
    Author     : Angel
*/

body{
    
    background-size: 100% 100%, auto;
    /*padding-left: 20px;*/
/*    background: url(../img/fondo.jpg) no-repeat center center fixed;*/
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    /*background-color: rgba(30,140,255,1);*/
    background-size: cover; 
}
.img-titulo img{
    width: 100%;
    height: 100%;
}


.main {
    height: 100%;
}

#conten-registro
{
/*    background-color: #0d5781;
    height: 80%;
    float: left;*/
    background-color: rgb(210,210,210);
    /*width: 20%;*/
    height: 80%;
    margin-left:2%;
    margin-top: 2%;
    padding-top: 1%;
    float: left;
}
#mainContainer {
    margin-top: 0px;
    margin-left: 71px;
    margin-right: 71px;

    width: auto;
}
.container{
    max-width:100%;
    max-height: 100%;
/*    padding-right: 15px;
    padding-left: 15px;*/
/*    margin-right: auto;
    margin-left: auto;*/
}
#nombreSistema {
    color: rgb(254, 254, 254) !important;
    text-align: start;
    top: 1rem;
    position:relative;
}

#nombreSistema #nombre {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
#content-contenido{
/*    padding: 15px;*/
    padding-left: 10px;
/*    background-color: #02034A;*/
    background-color: rgb(210,210,210);
    position: absolute;
    width: 80%;
    height: 70%;
    margin-top: 5%;
    margin-left: 10%;
/*    padding-right: 3px;*/
}

#content-left
{
    /*background-color: rgb(210,210,210);*/
    background-color: rgba(250, 250, 235,1);
    width: 20%;
    height: 80%;
    margin-left:5%;
    margin-top: 5%;
    padding-top: 5%;
    float: left;
}
#Foto-perfil{
    margin: 10%;
    max-width: 70%;
    max-height: 50%;
}
#content-right
{
    background-color: rgba(250, 250, 235,1);
    /*background-color: rgb(210,210,210);*/
    /*width: 20%;*/
    height: 80%;
    margin-right: 8%;
    margin-top: 5%;
    float: right;
}
#content-right .h3
{
    text-align: center;
    color: rgb(254, 254, 254) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#tabla-datos{
    
    margin-left: 5%;
    margin-right: 10%;
/*    text-align: right;*/
/*    width: 25%;
    height: 50%;*/
}
#col-campos{
    color: blue;
    text-align: right;
    width:5% ;
    height:50%;
}
#col-datos{
    width:20%;
    height:50%;
}
#opciones-represent{
    color: rgb(254, 254, 254) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

