/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/05/2019, 14:52:41
    Author     : Angel
*/

body{
    
    background-size: 100% 100%, auto;
    /*padding-left: 20px;*/
/*    background: url(../img/fondo.jpg) no-repeat center center fixed;*/
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    /*background-color: rgba(30,140,255,1);*/
    background-size: cover; 
}
.img-titulo img{
    width: 100%;
    height: 100%;
}

.main {
    height: 100%;
}

#mainContainer {
    margin-top: 0px;
    margin-left: 71px;
    margin-right: 71px;

    width: auto;
}
.container{
    max-width:100%;
    max-height: 100%;
/*    padding-right: 15px;
    padding-left: 15px;*/
/*    margin-right: auto;
    margin-left: auto;*/
}
#modal-registro{
   background-color: #d2d2d2;
   /*background-color: #E0E0E0;*/
}
.modal-header{
    text-align:center;
}
#nombreSistema {
    color: rgb(254, 254, 254) !important;
    text-align: start;
    top: 1rem;
    position:relative;
}

#nombreSistema #nombre {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
#content-contenido{
/*    padding: 15px;*/
    padding-left: 10px;
/*    background-color: #02034A;*/
    background-color: rgb(210,210,210);
    position: absolute;
    width: 80%;
    height: 70%;
    margin-top: 5%;
    margin-left: 10%;
/*    padding-right: 3px;*/
}

#content-left
{
    
    background-color: rgba(250, 250, 235,1);
/*    width: 20%;*/
    height: 70%;
    /*margin-left:5%;*/
    margin-top: 3%;
    /*padding-top: 5%;*/
    float: left;
    position: absolute;
}
#Foto-perfil{
    margin: 10%;
    max-width: 70%;
    max-height: 50%;
}
#content-right
{
    background-color: rgba(250, 250, 235,1);
    /*background-color: rgb(210,210,210);*/
    /*width: 20%;*/
    height: 80%;
    margin-right: 8%;
    margin-top: 4%;
    float: right;
    padding-left: 5%;
}
#content-right .h3
{
    text-align: center;
    color: rgb(254, 254, 254) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#barra-superior
{
    background: #004050;
/*    margin-right: 0px;*/
    margin-left: -1%;
    
}
#tabla-datos{
    
    margin-left: 5%;
    margin-right: 10%;
/*    text-align: right;*/
/*    width: 25%;
    height: 50%;*/
}
#col-campos{
    color: blue;
    text-align: right;
    width:5% ;
    height:50%;
}
#col-datos{
    width:20%;
    height:50%;
}
#opciones-represent{
    color: rgb(254, 254, 254) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#btnModificar
{
    position:absolute;
    left: 5%;
    right: 5%;
    width: -moz-available;    
}
#btnAtras
{
    position:absolute;
    left: 5%;
    right: 5%;
    width: -moz-available;
        
}
#datos{
background-color: rgb(197, 217, 237);

width: 95%;

height: 84%;

margin: 3%;

padding-left: 5%;

float: none;
}
