body{
    background: url(../img/escuela.jpg) no-repeat center center fixed;
    /*background: grayscale(0%), url(../img/escuela.jpg);*/

    /*filter : grayscale( 95% );*/
    background-size: cover; 
    width: 100%;
    height: 100%;
}
.navbar img {
    filter : grayscale( 0% );

}
.modal-content{
    margin: 8%;
    margin-top: 0.3%;

}
#contenidoDinamico{
    width: 100%;
    padding-top: 3%;
    padding-left: 6%;
    padding-right:6%;
    padding-bottom: 3%;
    background-color: rgb(210,210,210);
}
.footer{
    font-family: sans-serif;
    font-size: 0.8rem ;
    text-align: center;
    color:#fff;
}